{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'hrms/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %} ">

  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'hrms/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'hrms/images/LoginLogo.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100 mt-5">
          <div class="col-lg-4 mx-auto">
            <div class="text-center mb-2">
              <img src=" {% static 'hrms/images/LoginLogo.png' %} " width="300px" alt="">
            </div>
            <p style="background-color: transparent !important; padding: 10px;" class="display-4 mb-4 text-center text-black bg-info">Login</p>
            <div class="auto-form-wrapper mb-5">
              <form action=" {% url 'hrms:login' %} " method ='POST'>
                {% csrf_token %}
                <div class="form-group">
                  <label class="label">Username</label>
                  <div class="input-group">
                    {{form.username}}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    {{form.password}}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button style="background-color: #0f5ef7; border-color: #0f5ef7; border: 1px solid #0f5ef7;" class="btn btn-primary submit-btn btn-block">Login</button>
                </div>               
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Not a member ?</span>
                  <a href="{%  url 'hrms:reg'  %} " class="text-black text-small">Create new account</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

</body>

</html>